@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body
{
	background: white;
	height: 100vh;
}

#container 
{
	position: absolute;
	top: 10%;
	left: 10%;
	right: 10%;
	bottom: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(p404.png) #0d1029;
	box-shadow: 0 15px 30px rgba(0,0,0,.5);
	border-radius: 30px;
	width: 80%;
	height: 80%;

}
#container .content
{
	max-width: 600px;
	text-align: center;
}
#container .content h2 {
	font-size: 18vw;
	color: #fff;
	line-height: 1em;
	text-align: center;
	margin: 0; /* Supprime la marge existante */
}

#container .content h4
{
	position: relative;
	font-size: 1.5em;
	margin-bottom: 20px;
	color: #111;
	background: #fff;
	font-weight: 300;
	padding: 10px 20px;
	display: inline-block;
}
#container .content a
{
	position: relative;
	display: inline-block;
	padding: 10px 20px;
	background: #171c49;
	color: fff;
	text-decoration: none;
	margin-top: 50px;
	border-radius: 25px;
	border-bottom: 4px solid #171c49;
	width: 300px;
	height: 50px;
}

.text {
	color: white;
}

.menu-back {
	color: white;
	font-size: 25px;
	padding: 20px;
}
